.wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: aqua;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ccc;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after, .burger-btn:hover .burger-btn__bars::before, .burger-btn:hover .burger-btn__bars {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.85);
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: rgb(255, 255, 255);
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.85, 0.36, 1);
  background-color: rgb(0, 0, 0);
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0em;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: red;
  content: "";
}
.nav__item:hover::before {
  transform: scaleY(1);
  transition: transform 0.3s;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background: url(../img/golden720.mp4);
}

/* css slider */
.slider-wrapper {
  height: 100vh;
  margin-top: 10px;
  position: relative;
}

.slider-wrapper .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider-wrapper .list .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-wrapper .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider-wrapper .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  min-width: 80%;
  z-index: 1;
}

.slider-wrapper .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider-wrapper .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}

.slider-wrapper .list .item.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider-wrapper .list .item.active p:nth-child(1),
.slider-wrapper .list .item.active h2,
.slider-wrapper .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider-wrapper .list .item.active h2 {
  animation-delay: 1s;
}

.slider-wrapper .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}

.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}

.arrows button {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #000;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #ccc;
  color: #000;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider-wrapper .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 10%;
  }
}/*# sourceMappingURL=main.css.map */