@import '__colors.scss';
@import '__components.scss';
@import '__mixin.scss';

body {
    background-color: $maincolor;
    font-family: 'Roboto Condensed', sans-serif;
    // display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 8px;
    }

    &:hover {
        .burger-btn__bars::after, .burger-btn__bars::before, .burger-btn__bars {
            width: 100%;
            background-color: rgb(255, 0, 0, .85);
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: rgb(255, 255, 255);
        transition: width .3s;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 13px;
            width: 60%;
        }

        &::before {
            top: 27px;
            width: 30%;
            transition-delay: .1s;
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: .5s cubic-bezier(0.65, 0.85, 0.36, 1);
    background-color: rgb(0, 0, 0);
    z-index: 100;

    &--active {
        //modifier
        transform: translateX(0);
    }

    &__item {
        position: relative;
        display: block;
        margin: 0.5em 0em;
        padding: 0.5em 2em;
        font-size: 2.8rem;
        color: #fff;
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            background-color: red;
            content: '';
        }

        &:hover::before {
            transform: scaleY(1);
            transition: transform .3s;
        }
    }
}

//HEADER

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    height: 75vh;
    text-align: center;
    color: #fff;
    background: url(../img/golden720.mp4);
    //@include heroImages('../img/moon640.jpg');
}


//PROJECTS

.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper .image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 18px;
    font-size: 0;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}